<!-- <div>
    <ul>
      <li id="tag1" [class.active]="currentPage === 1"></li>
      <li id="tag2" [class.active]="currentPage === 2"></li>
      <li id="tag3" [class.active]="currentPage === 3"></li>
      <li id="tag4" [class.active]="currentPage === 4"></li>
      <li id="tag5" [class.active]="currentPage === 5"></li>
     
   
    </ul>
    
    <div class="section" id="sec1" (wheel)="onWheel($event, 1)">
      <app-header></app-header>
      </div>
      <div class="section" id="sec2" (wheel)="onWheel($event, 2)">
        <app-new-about-hero></app-new-about-hero>
        </div>
    <div class="section" id="sec3" (wheel)="onWheel($event, 3)">
      <app-new-overview></app-new-overview>
      
    </div>
    <div class="section" id="sec4" (wheel)="onWheel($event, 4)"><app-new-about-team></app-new-about-team></div>
    
    <div class="section" id="sec5" (wheel)="onWheel($event, 5)"><app-footer></app-footer></div>
   
  
  </div> -->

  
  
  
  <app-header></app-header>
  <app-new-about-hero></app-new-about-hero>
  <app-new-overview></app-new-overview>
  <app-new-about-team></app-new-about-team>
  <app-footer></app-footer>
  <app-back-to-top></app-back-to-top>