<section class="Specialisation_cont">
    <div class="Specialisation">
        <div class="Specialisation_heading">
            <h1>Specialization</h1>
        </div>
        <div class="Specialisation_sub_main card_content_first">
            <div class="Specialisation_sub_cont1 image_para_cont">
                <div class="image">
                    <p>Developed by S1 Corporation (now part of ACI Worldwide), is a widely used system in finance for managing transactions. It serves as a central hub, orchestrating various financial activities across different channels. Its functionalities include transaction authorization.</p><span><a routerLink="/postilion" style="text-decoration: none; color: #77b900;font-weight: 800;">view more</a></span>
                    
                </div>
            </div>
            <div class="Specialisation_sub_cont title_cont1">
                <div class="title">
                    <h1>Postilion</h1>
                    <div class="title_card1_img_cont">
                        <img src="https://s3-alpha-sig.figma.com/img/57e1/ae21/52a63b868272735555da24619c6eea85?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i4b7Z~Jg~q-nYQy-~Bax2yJQQHUMQdVpU6PFE6dKJM2AZejWmIvT5ENEvqhXBOdWDU~~p~kM3lNPZIo7WduOZzNgXl-DRcfyYtnNXf9TXkHWKmGt-flKmOUq5uctNC2ovsm~r6m5Xq4CufWpMzPDQfsFsph1rKrAo8DyrBOo2epT8i8grlOeH0a5hNoThyupG0NKIIadsD8C6k7V7y5iNDPovDxAQfGm3VIPgd1KwBj75iUJrpEso~FS~thiNgk7Js5-t6syDC5BM1t17O9~HqzvlrUq1j6X6UDA0wDcyVqgHP4sEllNbmPwSt48Bx45mVyk0RuJBMI8kCBC2M0uaQ__"
                            alt="capture png">
                    </div>
                </div>
            </div>
        </div>
        <div class="Specialisation_sub_main card_content_second">
            <div class="Specialisation_sub_cont title_cont3">
                <div class="title_card1">
                    <div class="title_card2_img_cont">
                        <img src="https://s3-alpha-sig.figma.com/img/b23b/e3e2/35f8b60fa96866118b0f08af6ead7cc7?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BzR3oBZZaggVNwWQFJBd9gUhCI91dezvdT39PjDrKB~73bcKmjGWPe17v2B6~fstBZdZgtRoZBlvG1trSTdPnKm0uHyg222OjGdhgTJEuuR5jDJTFh5bLOeePy5YUCYxIC2D18nbMoza-JHPfWE5nZn~1SAcMQmVKE8BS~4-OkbLP3KJxFYGY1oqxcmV0foO6uRKozPk3O2p50A4a6O7Rcc9X~cRtoUQ0iQI18GnWvRfbEcl1jN9~TsULLxpAMpnT6hx3FUxWFIJ9PdQY9w~h2bpDr-3UvOri4raFAmbT6RMYgglKI1sjPxqtFQ3CHqcGqBHfC9jK5~phf~Zc-bwWA__"
                            alt="wavemaker png">
                    </div>
                </div>
            </div>
            <div class="Specialisation_sub_cont1 image_para_cont1">
                <div class="image1">
                    <p>It's a RAD (Rapid Application Development) platform that allows developers to create web and mobile applications with minimal hand-coding. WaveMaker provides a visual interface for designing UIs and workflows, as well as pre-built components and templates that can be easily customized.</p>
                </div>
            </div>
        </div>
        <div class="Specialisation_sub_main card_content_third">
            <div class="Specialisation_sub_cont1 image_para_cont">
                <div class="image">
                    <p>VisionPLUS is a comprehensive software solution developed by FIS (Fidelity National Information Services), a leading provider of financial services technology. It is designed to support various aspects of credit card management and processing for financial institutions, including banks and credit card issuers.</p>
                </div>
            </div>
            <div class="Specialisation_sub_cont title_cont3">
                <div class="title_card">
                    <h1>VisionPLUS®</h1>
                </div>
            </div>
        </div>
    </div>
</section>