 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<section class="HEROSEC-HeroSection1">
    <div class="HEROSEC-container container">
      <div class="HEROSEC-left-content"  >
        <span class="HEROSEC-WelcomeTOHE" >Welcome to </span><span class="HEROSEC-WelcomeTOHERI" >Ridhitek</span>
        <!-- <div class="HEROSEC-second-content1" data-aos="fade-up"
        data-aos-duration="1000">Digital Transformation</div> -->
        <div class="HEROSEC-second-content2" >IT Solutions & Services</div>
        <h5 class="HEROSEC-HeroComAbout" >In today's constantly evolving world, many organizations find it challenging to adapt to the demands of the digital era. Traditional methods often prove inadequate in meeting the struggles posed by technological advancements, hindering growth and efficiency. Without the necessary expertise and resources, businesses risk falling behind competitors and failing to capitalize on emerging opportunities.</h5>
       <a href="#Domains"><button class="HEROSEC-button" >Get Started</button></a>
      </div>
      <div class="HEROSEC-right-content" >
        <img src="https://s3-alpha-sig.figma.com/img/957b/9e9b/6773bd59e15f50bbf77417f8921a8e74?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pwLhC5NlgRG8xsT60fpP7n2-XBwHKaWPI5T8S0OPdlNhFV59Glu0WtzAnczlTrwCEXcp-h3Z9viPLIGaZukI185dZD9dqL8G8M4bkP0LRVmndX4vNaYniL4cN1pMMap9ASGPt5KH8exWc~XQWi-7Ub5Z-x9jid6bdH-2j-jD4XBKrecz0~YClaAemTXrwcBRHwIBOOAZKeC0q~BbZelgH37e42LBLXsjh7wtDjw0qQmxnEeaJC-NvVAtuU3dG0SRUV5vdiFzAAEguojODat85H8KJRBpxeteo4jx1Li~eZnlgpMpOgCg8uHIL4xdnfQy15Ru7K7-YoNH1noQa8u1EQ__" alt="Your Image"  style="max-width:100%; height: auto;">
        <!-- .//src/assets/IMAGES/Hero.png -->
       </div>
    </div>
  </section>
 
 
</div>
  
