
<!-- Flickity HTML init -->
 
<section class="flickyDomains " id="Domains">
  <div class="domain-info ">
    <h1>Domains</h1>
    <p>Digital transformation in IT services refers to the integration of digital technology into all aspects of a business, fundamentally changing how it operates and delivers value to customers.</p>
  </div>
  <div class="carousel container totalcaro"  data-flickity='{ "wrapAround": true }'>
    <div class="carousel-cell cellc1">
      <img src="https://s3-alpha-sig.figma.com/img/a48c/90b6/d699cb663be0b9270c39bfc94507556c?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=irbqtcyklGZBtNz1VqkvWzITfPg~NXeKwNyWZ4LrYYO9uLPCiE3jSzMd2Sh6rGKnD8l-oXi4l5arv3vav-uZN6I7WhOcRZs0IHZBS95ANTOIj5V6qzbX5fkeBb~vy0kfqQwThPMkzK0QUFqYk75mGJpzB77woK2z7in-9PQ7Jn1deI4rL0Mywzjr9kdbDA6nmCM79wNWTdlb0opUKc2hv~rsmUcfNc6qQBKif1j8dsbBEiB2eZO1LyiyvImbxFPBqYDw6XXMv0ZXt3IfONXi~aYJ7PxPqeYcgiOfu1i0c4D8iY83MmjPQvCvp-lc9wKq-ZR-Irkd5d3l1nHRzRyKhA__" alt="Payemts" width="150px">
      <h1>Payments</h1>
      <p style="margin-bottom: 0px;">Driving Payments industry transformation, our IT services integrate seamlessly with global standards, delivering innovative solutions that anticipate market shifts and customer needs. Experience the next generation of payment efficiency and security with our tailored offerings.</p>
      <a routerLink="/payments" style="text-decoration: none; background-color: #77b900;padding: 5px 10px;color: #000000;border-radius: 5px;font-size: 12px;font-weight: 700;">View more</a>
    </div>
    <div class="carousel-cell cellc1">
      <img src="https://s3-alpha-sig.figma.com/img/1f92/10ce/c12a5fb5f2b908fc2a53ed5248c4659d?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=E~v9p3baUIFh-cMNli7HSO3SDObLwONAChzAMkS9nFj~5O6vA7BGINGvEB3tLSHazMe7hLq9xy70I8VrV~qw-vCXFkWKG3rUXDjGPqPDKWREbeDN7YQxtxsHtVBk7wfoMRrxCCupB8Edcte0~p~N37DvxllJJ2AKgyc9BzhGd3bvzZ7~tfJZBmiGA~jp5-WRBC3ptKnjAuy8sh0PFIF0kU7uAVYR3q-Qk0aVBU4TUKKOcmT4gbGZshvsabzHitV8QGGq7cPXKrwgY09UAo9bjK~CfHCq6w~bLiO8GIgdLn437KtqD~vzNaVAhId-IbmospR42gMVVsKGBsAPbTmPKg__" alt="Cards" width="150px">
      <h1>Cards</h1>
      <p>A credit card allows the cardholder to borrow funds from the card issuer up to a certain credit limit to make purchases. Cardholders are required to repay the borrowed amount along with any accrued interest charges. A debit card is linked to the cardholder's bank account, allowing them to make purchases using funds directly from their account.</p>
    </div>
    <div class="carousel-cell cellc1">
      <img src="https://s3-alpha-sig.figma.com/img/2abe/51b3/bf563b0d09f8e713059439d19c7df78f?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nU932VSvBCRSDUIGB53JkhhS9~UaE9uL1HH4z0Gfr5~khl6fpekUHDZNGlJXycJ3G2gSjrefA3A8GCddIfAeNHF8SuHa5UC0hkVbNqxzZ0GfJU9MJZprDXozmdRr13795slUt0sBT6biwF-fMUMx~Clm~foo2xvJ4RqWo7FTF2gqzzBEtlb82ql6UEf7K~TYPNGv6IkQfd60aKh5DvKzng80llyW~OaIpEHj6rKmYO4GZXNBczIUYfLTTilub-m8XoYUIx3nrMRq2vIeUduTCkyhufbgXABOSGwjYhtRoOHDvq0u6dbnKxGHfDM11z3znhNS5p46~Njpy2mae3lkNA__" alt="Core Banking" width="150px">
      <h1>Core Banking</h1>
      <p>Core banking systems manage customer accounts, including savings accounts, current accounts, loans, and other financial products. They maintain detailed records of account balances, transactions, interest accruals, and account holder information.such as deposits, withdrawals, fund transfers, loan disbursements, and payments.</p>
    </div>
  </div>
  </section>

  
  

  