<section class="about_container " id="Aboutoverview">
    <div class="about_container_main">
        <div class="graph_div">
            <div class="graph_cont">
                <h1>1 Years</h1>
                <h2>Years of Service</h2>
            </div>
            <div class="border">
            </div>
            <div class="graph_cont">
                <h1>200+</h1>
                <h2>Employees</h2>
            </div>
            <div class="border">
            </div>
            <div class="graph_cont">
                <h1>50+</h1>
                <h2>Trusted Clients</h2>
            </div>
            <div class="border">
            </div>
            <div class="graph_cont">
                <h1>5+</h1>
                <h2>Countries</h2>
            </div>
        </div>
        <div class="about_para_container">
            <div class="about_para_cont">
                <p>Originally established as a specialized provider of technological services and solutions,
                    Ridhitek was limited to the card, payment, and lending industries. With our next-generation
                    digital services and consultancy, we help clients in 5 countries navigate their digital
                    transition.</p>
            </div>
            <div class="about_para_cont">
                <p>We professionally guide our clients through their digital transformation projects thanks to our
                    more than ten years of experience managing systems and working for financial institutions,
                    third-party payment processors, and fintech companies. We are able to create exceptional project
                    delivery experiences and performance levels never before seen thanks to our deep domain
                    expertise, technological know-how, and application level competence in the three areas.
                    Positively outrageous client delight is the result.</p>
            </div>
            <div class="about_para_cont">
                <p> Through strategic partnerships and a commitment to excellence, RidhiTek empowers businesses to
                    thrive in the digital age, unlocking their full potential and ensuring lasting success.</p>
            </div>
        </div>
    </div>
</section>