
 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<div class=" secment"  id="whoweare" >
    <div class="containerwhoareu">
      <div class="container seccont">
    <div class="content " data-aos="fade-up"
    data-aos-duration="1000" >
        <h3 class="who1">Who We Are?</h3>
        <h1 class="who2">Boost your</h1>
        <h1 class="who3">Business With Us</h1>
        <h5 class="who4">RidhiTek is a forward-thinking technology services firm that is transforming business processes and enhancing customer engagement with our technology-first approach, aiming for unparalleled business success. As specialists in Cards, Payments, and Lending, we redefine technology services in these sectors.</h5>
        <a href="#" class="buttonwhoare" routerLink="/Contact_Us">Get In Touch</a>
        <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="Arrow Icon" width="20"> -->
      </div>
      <div class="whoareuimg" data-aos="fade-up"
      data-aos-duration="1000">
        <img src="https://s3-alpha-sig.figma.com/img/6101/4498/86f8670723466d9fb086c9d0dc99922f?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QvO~0UsSjpCgDuRivWVM5D8-4oC8FVI8X2h8vbc4NF1qn43WEl~rtcb-1DyERHxy5c8erkqIk0Z4-1t-SGS8~EuvZskUUPmmEKAEPz1-U5lht6nXJHLrj~lCLMDdqO0E0xmL35L7Qv0KZBpIsVdESViA5Jt0ODP140uNk~jRyLlv1H6AlY9vGfSIZLNyW8a8yWulUoz7QDqw8u3vNusyZQB8VqjHSfiLtgVoJoFZA76Zsb5u6dp2M960Wr-Tqodvzu2dS169Uhc2dvrrT8LgLL~hzo0m40M2wuEQGMcn7Ir-k0nMZ8CW65nF4jkZjakajBVIWT7KFKJkd~wY84aPDA__" alt="Your Image" width="100%">
      </div>
    </div>
    </div>
  </div>
  </div>
