<section class="service_container_main">
    <div class="service_entire">
        <div class="service_heading_cont">
            <h1 class="service_heading">Services</h1>
        </div>
        <div class="service_container">
            <div class="service_container_left">
                <div class="application_div">
                    <h1>Application <br> Development</h1>
                </div>
                <div class="application_img_cont">
                    <img src="https://s3-alpha-sig.figma.com/img/5112/502e/4259a698e8999d9a6ec5eeed36f81ac3?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Gm6S~QXrrnvcjG1UaiotNi3tLheS9PdKC7rfphpsNd~zSO29nZgbjwDtlGkVqALs7tfmzJHLlSZ0W1heP-ME40fxjZ0erU9TIHH0r8w1dcFnuIJZdu-GwFQi4Lb5hHwfCYmLmS5p50a8AqQqN3UfzMz-ETIrfEYFLW-564wRwCxgtbyehxvEnTJk9QAJBm1nC~pIWVYt3Gw7hkrDgu3FEvD2S0~j9kjLXnDKZPZ06~C3Y41xInSGvvcDxpqHi~aCjr3zBWUvzwemp4Lrzwr5YHfSEWuv~-ER~cZihlZ76~J~xnq3UYTur5EjOqe0Pz2X~46bDaUVXZWR5Qt~zuTmCg__"
                        alt=" Application Development Image">
                </div>
            </div>
            <div class="service_container_right">
                <div class="application_content1_main">
                    <div class="application_content_sub">
                        <h2>Front End Development</h2>
                        <div class="service_img_container">
                            <img src="https://s3-alpha-sig.figma.com/img/1593/1ca6/785033f6660f91b74c1798e083c06587?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IwLD66SaTeeTIN8Rj6~uddeiBo4G6as-0U2BcY05EI~gXifne6vQvc28dIgoR0ubhGipRIvEYo1cFqyNbJ2GM6d~xeZmP4HH9ebRDfYevVm7zYMCh6dy5UYD4uMVu1V8qHUj6FgyM~EQr011tgbcPFO3hlLHmpUgLuPM6dD6S52Zta20f~8A8J5bxtGfvBE-jEKlZMBoCv21~e1zHWsdrAg3NrhhAX6sBvEunIDgUkYn9dyEwpJ7FtPn0D-RZUT1IDn4FmJzlVUSwPAAlNp~ufX22VH6p9cm2461SM0W9jPCh25eblP9pZzBbqyIOtJjDLpsB6QhamTQvG7pPEv6Eg__"
                                alt="Front end Development" width="100%">
                        </div>
                    </div>
                    <div class="application_content_sub">
                        <h2>API Development</h2>
                        <div class="service_img_container">
                            <img src="https://s3-alpha-sig.figma.com/img/2588/13ab/9d4787e15b9aa1bd212ca39d010a8982?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LZKpxIeHoTkLRRn14ENN6YSHKILzNvNe5hcZPTecwXWznI3aIWZjeYFXG7uJLwtoy1MCr1GemcdZnTRe-FGiowvRe5wXB4nDEU4OcpIL9VG~HaeVco9PX2qFnijfEiUWbUHeB938QBgmtuUcygYNKoNAmwotNXyVCPo71-xpUk3CQgVeAm1vbrJ2HjlzP7OLy20Y6mdPbO9AeB1ShZysx~RWn-AFwj1JLB5ptK7if5fxIP4UOV7JBMUbC4ZamrGBbAJ1je4ijVjISgFgSrFyA89709khxV-cNOHaa4SI9ogPCmfxoZAf72XT8bN2Ed~GNOhKSZQb8q6ThM--vTd4qg__"
                                alt="Front end Development" width="100%">
                        </div>
                    </div>
                </div>
                <div class="application_content2_main">
                    <div class="application_content_sub">
                        <h2>Quality</h2>
                        <div class="service_img_container">
                            <img src="https://s3-alpha-sig.figma.com/img/3f00/caea/1e4a6fc8e1c4cbfe88501d38adc58820?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IV7zFMEXqzbt3Na1H65wcq0tLiGONdO~0Pz5nyi0j2-oiOVv03y-L2ejz93ri02~qj2Y6mF9Ie9lnGPHgcnZ9-tykJj9WHmA1c~4ouG5LO1nIyAPnhhlVtI16xNQ8PpofEKh6w-LzU3M7mQRnD5n2GftqkEazrl5ajYIioZGR~RkNlf7nTOIQX-mbva91y3UkJGkngLm7YUDWm9jjqs582arj5xLwLBKDUSKpkmRBE2~osVqInT6tW-~~g-7EgKX6HSvXZiHAPaN19z73Z~AWqJJnimqW2Ow3CgQ0QspzDQzvwGWf9eKRcqaIR8eFoGzgjo3yVn0d9YYnlnFLLmJPg__"
                                alt="Front end Development" width="100%">
                        </div>
                    </div>
                    <div class="application_content_sub">
                        <h2>Devops</h2>
                        <div class="service_img_container">
                            <img src="https://s3-alpha-sig.figma.com/img/1856/8063/02e559c4d14090b9bf05e6d3a8060956?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dC0c0REVHmbGyWkU7PZgrldf8msptek4Oompc7Cdz3MgPiwDrGtnzfyVGSaIeqE1Y5~fuV~UZ28Siit7H0NQKkSug1jZDUuu336TK6NkUR0PFmkSNsGijyaB4lHZ0bHQKv2PcMJ3Jgo~7iSBv7XNgFY8lheMgJlBmpH0QCNIwdGFArKW8CF6ec0~cNbqyyCXL5-HH-Jl0ANxIYdWlFVgxcj3AE-FPcs951SUoqvKBNvfhkJdWXkygtct0YNB1O1unLlH7V-UZRiAHpkeJ5J6-mE337W5ZB52j~v7PQBIIrcu9sDtfscawBbshfyk2NQa5u5IVaBOiwp18SYz4P4fUQ__"
                                alt="Front end Development" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>