<div>
    <ul>
      <li id="tag1" [class.active]="currentPage === 1"></li>
      <li id="tag2" [class.active]="currentPage === 2"></li>
      <li id="tag3" [class.active]="currentPage === 3"></li>
      <li id="tag4" [class.active]="currentPage === 4"></li>
    </ul>
    
    <div class="section" id="sec1" (wheel)="onWheel($event, 1)">
      <app-header></app-header>
      </div>
      <div class="section" id="sec2" (wheel)="onWheel($event, 2)">
        <app-contact-us></app-contact-us>>
        </div>
    <div class="section" id="sec3" (wheel)="onWheel($event, 3)">
      <app-location-cards></app-location-cards>
    </div>
    <div class="section" id="sec4" (wheel)="onWheel($event, 4)"><app-footer></app-footer></div>
   </div>
  