 <!-- Theme Mode -->

 <div >
    <section class="HEROSEC-HeroSection1">
        <div class="HEROSEC-container container">
          <div class="HEROSEC-left-content">
            <span class="HEROSEC-WelcomeTOHE" >Focused Specialist </span><span class="HEROSEC-WelcomeTOHERI" >Technology Services </span>
            <!-- <div class="HEROSEC-second-content1" >Digital Transformation</div> -->
            <div class="HEROSEC-second-content2" >Our Story Begins Here</div>
            <h5 class="HEROSEC-HeroComAbout">At RidhiTek, our core mission is unwavering: to make a lasting, positive impact. Our highly skilled and dedicated team embodies our collective principles, turning them into reality every day. By merging innovative solutions with our pooled expertise, we achieve remarkable results.
          </h5>
           <!-- <a href=""><button class="HEROSEC-button">Get Started</button></a> -->
          </div>
          <div class="HEROSEC-right-content">
            <img src="https://s3-alpha-sig.figma.com/img/99c4/7017/346bf28018f42a65c10a9fe7ce5fbd19?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nKrLyt9iTNpcUjjJfwL5NMMlMQGgLgZmarTC3caQmpU2xgBKU9OEqihmAeQGFDerEc4LbvPM0wi9Kfb7h30QjnSkFRIpYbdVDAi0xw2vqHkvYsXtc1URNW6qbygbeN-HFvW8lyajAxxhWoPWbCoByT0Buoo~Jkt3Vq6an2EJUhg6EDIb-rTepcv~PHPNTRJoGv2lBp2ZaXtbyunY0TweFYY51KOwX4ES8prNJojpyv9BgiakbwOycX2y2u7eQyQW9ivNMqeWq3lPEN4e7mXEfGNTSepQHBgy87hX9jyQ5fMrz0vo1EFUbTv09ZqWSSAC5M2wOwx1j~VgdzePHYYkDg__" alt="Your Image"  style="max-width:100%; height: auto;">
            <!-- .//src/assets/IMAGES/Hero.png -->
           </div>
        </div>
      </section>
     

    </div>
      
    